
/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-size: 50%; }
body {
  font-size: 2em;
  line-height: 1.5;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #17181A; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  }
h1 { font-size: 3.0rem; line-height: 1;  letter-spacing: -.1rem; }
h2 { font-size: 3.0rem; line-height: 1; letter-spacing: -.1rem; }
h3 { font-size: 1.25rem; line-height: 1;  letter-spacing: -.05rem; }

p {
  margin-top: 0; }


/* Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title {
  margin: 2rem 0 0 2rem;
}


.year {
  margin-top: .25rem;
  }

.flex-container {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  }

.flex-item {
  flex: 1;
  }

.item-start {
  }

.item-end {
  }

.ornament {
  width: 3rem;
  height: .25rem;
  margin: 2rem 0 2rem 2rem;
  background-color: #17181a;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  margin-left: 2rem;
  list-style: none;
  padding-left: 0;
  margin-top: 0; }

ul.positions {
  }

ul.menu {
  margin-top: 4rem;
  }

li {
  margin-bottom: 1rem; }

li.primary {
  }

li.secondary {
  }

li a {
  color: #17181a;
  }

li a:hover {
    color: #ff0000;
    }

li a.secondary {
  color: #D7D7D9; }

  li a.secondary:hover {
    color: #00ff00; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Larger than mobile */
@media (min-width: 400px) {
  html { font-size: 62.5%; }
  .flex-container {max-width: 90%;  margin: auto;}
}

/* Larger than phablet */
@media (min-width: 550px) {
  html { font-size: 75%; }
  .flex-container {max-width: 80%;  margin: auto;}
}

/* Larger than tablet */
@media (min-width: 750px) {
  html { font-size: 87.5%; }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  html { font-size: 100%; }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
